#another-parallax {
    background-image: url("../img/01.jpg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#another-parallax-content {
    display: grid;
    grid-template-rows: 45% 45%;
    grid-column-gap: 10%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.another-parallax-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
#another-parallax-desc {
    max-width: 75%;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: "Manjari";
    font-size: 40px;
}