#aquaculture {
    background-image: url("../img/02.gif");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#aquaculture-content {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.aqua-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
#aqua-desc {
    max-width: 75%;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: "Manjari";
    font-size: 35px;
}