#aquaculture {
    text-align: center;
    background-color: #ffffff00;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#aquaculture-content {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../img/02.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.aqua-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
#aqua-desc {
    max-width: 75%;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: "Manjari";
    font-size: 35px;
}

#aqua-outer {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#aqua-inner {
    position: relative;
}

#aqua-inner::-webkit-scrollbar {
    display: none;
}

.aqua-slide {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#dot-slide {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.dot {
    display: inline-flex;
    position: relative;
    height: 15px;
    width: 15px;
    bottom: 0;
    margin: 0 2px 10px 2px;
    background-color: #b8c2dd;
    border-radius: 50%;
    z-index: 1;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.active-dot, .dot:hover {
    background-color: #738ac4;
}