#ph-stats {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 15% 40% 40%;
    grid-row-gap: 5%;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
}
.chart-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#chart-title-div {
    grid-column: 1 / span 3;
}
#chart-title {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    font-size: 40px;
    color: #3B569B;
}
#chart-sub {
    margin: 0;
    padding: 0;
    font-family: "Manjari";
    font-weight: bolder;
    font-style: italic;
    font-size: 25px;
    color: #7f94ca;
}

#chart-1992 {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: conic-gradient(
        #3B569B 149deg,
        #7f94ca 0 259deg,
        #b4c2e4 0
    );
}

#chart-2020 {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: conic-gradient(
        #3B569B 94deg,
        #7f94ca 0 173deg,
        #b4c2e4 0
    );
}

#chart-2020-value {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: conic-gradient(
        #3B569B 151deg,
        #7f94ca 0 281deg,
        #b4c2e4 0
    );
}

[id^="chart-"][id$="-legend"] ul {
    list-style: none;
    font-family: "Poppins";
    font-size: 20px;
}
[id^="chart-"][id$="-legend"] p {
    margin: 0;
    padding: 0;
    font-family: "Manjari";
    font-weight: bolder;
    font-size: 20px;
}
.chart-legend-1 {
    color: #3B569B;
}
.chart-legend-2 {
    color: #7f94ca;
}
.chart-legend-3 {
    color: #b4c2e4;
}