#government {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFFFFF;
}

.government-desc-item {
    margin: 0 15px;
}

#government-title-item {
    grid-column: 1 / span 3;
}
.government-desc-item {
    display: flex;
    align-items: center;
    min-height: 65%;
    background-color: #3B569B;
    border-radius: 10px;
}

#government-title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #3B569B;
    font-family: "Poppins";
    font-weight: bolder;
    font-size: 50px;
}
#government-sub {
    margin: 0;
    padding: 0;
    color: #191919;
    font-family: "Manjari";
    font-size: 20px;
}
.government-desc {
    margin: 0 15px;
    padding: 0;
    color: #FFFFFF;
    font-family: "Manjari";
    font-size: 20px;
}